/* styling for text */

p a{
   
    color: #052b30;
}
a{
  text-decoration: none;
  color: #053b30;
}

body{
  position: relative;
  background: url('scaled-4-backsplash.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#052b30;
  font-family: 'Inconsolata', monospace;
  
}
.allow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
  margin-right: 10%;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about p {
 margin-left: 10%;
 margin-right: 10%;

}

.open-question{
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-40%, -45%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1{ 
  text-align: center;
}
.on-no-page{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
  margin-right: 10%;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
 
}




/* height of map needs to be specified as div defaults at 0% */
#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .hidden{
      display: none;

  }

  /* direction panel styling */
  #right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }
  #right-panel {
    height: 50%;
    float: top;
    width: 95%;
    overflow: auto;
    margin: auto;
  }

  #floating-panel {
    
    position: absolute;
    bottom: 40%;
    left: 10px;
    z-index: 5;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  .get-lost-button{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 10%;
     width: 20%;
     
     z-index: 5;
     font-family: 'Roboto','sans-serif';

  }
  .get-lost-again{
    position: absolute;
    bottom: 40%;
    right: 10px;
    z-index: 6;
    background-color: ghostwhite;
    font-family: 'Roboto','sans-serif';
  }
  .tutorial-button{
    position: absolute;
    bottom: 45%;
    right: 10px;
    z-index: 6;
    background-color: ghostwhite;
    font-family: 'Roboto','sans-serif';
  }
/* from restyling example code to restyle default controls */
  .gm-style .controls {
    font-size: 28px;  /* this adjusts the size of all the controls */

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    height: 1em;
    margin: 6px;
    text-align: center;
    user-select: none;
    padding: 2px;
    width: 1em;
  }
  .gm-style .controls button {
    border: 0;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
  }
  .gm-style .controls button:hover {
    color: rgba(0, 0, 0, 0.9);
  }

  .gm-style .controls.zoom-control {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .gm-style .controls.zoom-control button {
    font: 0.85em Arial;
    margin: 1px;
    padding: 0;
  }

  .gm-style .controls.maptype-control {

    display: none;

  }

  /* btn css */
  .draw-border {
    box-shadow: inset 0 0 0 2px #052b30;
    color: #052b30;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    padding: .2em;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
   
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: rgb(236, 202, 127);
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: rgb(236, 202, 127);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1rem 'Roboto Slab', sans-serif;
    padding: .5em 1em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px  #052b30;
  }

  @media only screen and (min-width: 420px) {
    #right-panel {
      height: 100%;
      float: right;
      width: 30%;
      overflow: auto;
      /* margin: auto; */
    }
    #floating-panel{
      bottom: 15px;
    }
    .get-lost-again{
      bottom: 15px;
      left: 45%;
    }
    .tutorial-button{
      bottom: 38px;
      left: 45%;
    }

  }
  @media only screen and (min-width: 750px){
    .get-lost-again{
      bottom: 15px;
      left: 30%;
    }
    .tutorial-button{
      bottom: 38px;
      left: 30%;
    }
  }

  /* some printable media query */
  @media print {
    #map {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }
  }